<% include partials/head %>
  <% include partials/header %>
    <div class=container>
      <form method="POST" >

      <div class="form-group">
        String<br>
        <input class="form-control" type="text" name="datastring" value="" required="required" >
      </div>

      <div class="form-group">
        <br>Integer<br>
        <input class="form-control" type="number" name="datainteger" value="" required="required" >
      </div>

      <div class="form-group">
        <br>Float<br>
        <input class="form-control" type="number" name="datafloat" step="0.01" required="required" >
      </div>

      <div class="form-group">
        <br>Date<br>
        <input class="form-control" type="date" name= "datadate"  required="required" >
      </div>
      <div>
        <br>Boolean<br>
        <select class="form-control" name="databoolean">
          <option value="True">True</option>
          <option value="False">False</option>
        </select>
      </div>
      <br>
      <br>
      <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>
<% include partials/footer %>
